<!DOCTYPE html>

<h2>Ajouter un établissement.</h2>
<hr>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseRestaurant" aria-expanded="false" aria-controls="">
    Ajouter un nouveau restaurant.
</button>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseBar" aria-expanded="false" aria-controls="">
    Ajouter un nouveau bar.
</button>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseHotel" aria-expanded="false" aria-controls="">
    Ajouter un nouvel hotel.
</button>

<hr>

<div class="collapse" id="collapseRestaurant">
    <div class="well">
        <form action="/admin/add/restaurant" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="restaurantNameInput">Nom du restaurant</label>
                <input type="text" id="restaurantNameInput" class="form-control" name="name" placeholder="Nom de l'établissement.">
            </div>

            <div class="form-group">
                <label for="restaurantAddressInput">Addresse</label>
                <div class="form-inline">
                    <input type="text" class="form-control" id="restaurantAddressInput" name="address_street" placeholder="Rue.">
                    <input type="text" class="form-control" id="restaurantAddressInput" name="address_town" placeholder="Ville.">
                    <input type="text" class="form-control" id="restaurantAddressInput" name="address_number" placeholder="Numéro.">
                    <input type="text" class="form-control" id="restaurantAddressInput" name="address_zip" placeholder="Code postal.">
                </div>
            </div>

            <div class="form-group">
                <label for="restaurantLatitude">Coordonnée.</label>
                <div class="form-inline">
                    <input type="text" class="form-control" id="restaurantLatitude" name="latitude" placeholder="Latitude.">
                    <input type="text" class="form-control" id="restaurantLongitude" name="longitude" placeholder="Longitude.">
                </div>

                <hr>

                <div id="RestaurantMap" class="map">
                    <script>
                    var mymap = L.map('RestaurantMap').setView([50.818606, 4.384074], 13);

                    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
                        maxZoom: 18,
                        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>.',
                        id: 'mapbox.streets'
                    }).addTo(mymap);

                    var marker = L.marker([50.818606, 4.384074], {draggable : true}).addTo(mymap);
                    marker.on('dragend', function (e) {
                        document.getElementById('restaurantLatitude').value = marker.getLatLng().lat;
                        document.getElementById('restaurantLongitude').value = marker.getLatLng().lng;
                    });

                    mymap.on('click', function (e) {
                        marker.setLatLng(e.latlng);
                        document.getElementById('restaurantLatitude').value = marker.getLatLng().lat;
                        document.getElementById('restaurantLongitude').value = marker.getLatLng().lng;
                    });
                    </script>
                </div>
            </div>

            <div class="form-group">
                <label for="restaurantPhoneNumberInput">Numéro de téléphone</label>
                <input type="tel" class="form-control" name="phone_number" placeholder="Numéro de téléphone">
            </div>

            <div class="form-group">
                <label for="restaurantWebsiteInput">Site internet</label>
                <input type="url" class="form-control" name="website" placeholder="Site internet">
            </div>

            <hr>

            <div class="form-group">
                <label for="restaurantAveragePriceInput">Prix moyen</label>
                <div class="input-group">
                    <input type="number" id="restaurantAveragePriceInput" class="form-control" name="price" placeholder="Prix moyen." aria-describedby="moneySymbol">
                    <span class="input-group-addon " id="moneySymbol">
                        <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="restaurantSeatNumberInput">Nombre de place</label>
                <input type="number" id="restaurantSeatNumberInput" class="form-control" name="seat_number" placeholder="Numbre de place.">
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Nourriture à emporter : </label>
                    <input type="checkbox" name="takeaway" checked>
                    <script>
                        $("[name='takeaway']").bootstrapSwitch();
                    </script>
                </div>
                <div class="form-group col-md-6">
                    <label>Livraison : </label>
                    <input type="checkbox" name="delivery" checked>
                    <script>
                        $("[name='delivery']").bootstrapSwitch();
                    </script>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
</div>

<div class="collapse" id="collapseBar">
    <div class="well">
        <form action="/admin/add/bar" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="barNameInput">Nom du bar</label>
                <input type="text" id="barNameInput" class="form-control" name="name" placeholder="Nom de l'établissement.">
            </div>

            <div class="form-group">
                <label for="barAddressInput">Addresse</label>
                <div class="form-inline">
                    <input type="text" class="form-control" id="barAddressInput" name="address_street" placeholder="Rue.">
                    <input type="text" class="form-control" id="barAddressInput" name="address_town" placeholder="Ville.">
                    <input type="text" class="form-control" id="barAddressInput" name="address_number" placeholder="Numéro.">
                    <input type="text" class="form-control" id="barAddressInput" name="address_zip" placeholder="Code postal.">
                </div>
            </div>

            <div class="form-group">
                <label for="barLatitude">Coordonnée.</label>
                <div class="form-inline">
                    <input type="text" class="form-control" id="barLatitude" name="latitude" placeholder="Latitude.">
                    <input type="text" class="form-control" id="barLongitude" name="longitude" placeholder="Longitude.">
                </div>

                <hr>

                <div id="BarMap" class="map">
                    <script>
                    var mymap = L.map('BarMap').setView([50.818606, 4.384074], 13);

                    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
                        maxZoom: 18,
                        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>.',
                        id: 'mapbox.streets'
                    }).addTo(mymap);

                    var marker = L.marker([50.818606, 4.384074], {draggable : true}).addTo(mymap);
                    marker.on('dragend', function (e) {
                        document.getElementById('barLatitude').value = marker.getLatLng().lat;
                        document.getElementById('barLongitude').value = marker.getLatLng().lng;
                    });

                    mymap.on('click', function (e) {
                        marker.setLatLng(e.latlng);
                        document.getElementById('barLatitude').value = marker.getLatLng().lat;
                        document.getElementById('barLongitude').value = marker.getLatLng().lng;
                    });
                    </script>
                </div>
            </div>

            <div class="form-group">
                <label for="barPhoneNumberInput">Numéro de téléphone</label>
                <input type="tel" class="form-control" name="phone_number" placeholder="Numéro de téléphone">
            </div>

            <div class="form-group">
                <label for="barWebsiteInput">Site internet</label>
                <input type="url" class="form-control" name="website" placeholder="Site internet">
            </div>

            <hr>

            <div class="row">
                <div class="form-group col-md-6">
                    <label>Fumeurs autorisés : </label>
                    <input type="checkbox" name="smokers" checked>
                    <script>
                        $("[name='smokers']").bootstrapSwitch();
                    </script>
                </div>

                <div class="form-group col-md-6">
                    <label>Snacks disponibles : </label>
                    <input type="checkbox" name="snacks" checked>
                    <script>
                        $("[name='snacks']").bootstrapSwitch();
                    </script>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
</div>

<div class="collapse" id="collapseHotel">
    <div class="well">
        <form action="/admin/add/hotel" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="hotelNameInput">Nom du hotel</label>
                <input type="text" id="hotelNameInput" class="form-control" name="name" placeholder="Nom de l'établissement.">
            </div>

            <div class="form-group">
                <label for="hotelAddressInput">Addresse</label>
                <div class="form-inline">
                    <input type="text" class="form-control" id="hotelAddressInput" name="address_street" placeholder="Rue.">
                    <input type="text" class="form-control" id="hotelAddressInput" name="address_town" placeholder="Ville.">
                    <input type="text" class="form-control" id="hotelAddressInput" name="address_number" placeholder="Numéro.">
                    <input type="text" class="form-control" id="hotelAddressInput" name="address_zip" placeholder="Code postal.">
                </div>
            </div>

            <div class="form-group">
                <label for="hotelLatitude">Coordonnée.</label>
                <div class="form-inline">
                    <input type="text" class="form-control" id="hotelLatitude" name="latitude" placeholder="Latitude.">
                    <input type="text" class="form-control" id="hotelLongitude" name="longitude" placeholder="Longitude.">
                </div>

                <hr>

                <div id="HotelMap" class="map">
                    <script>
                    var mymap = L.map('HotelMap').setView([50.818606, 4.384074], 13);

                    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
                        maxZoom: 18,
                        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a>.',
                        id: 'mapbox.streets'
                    }).addTo(mymap);

                    var marker = L.marker([50.818606, 4.384074], {draggable : true}).addTo(mymap);
                    marker.on('dragend', function (e) {
                        document.getElementById('hotelLatitude').value = marker.getLatLng().lat;
                        document.getElementById('hotelLongitude').value = marker.getLatLng().lng;
                    });

                    mymap.on('click', function (e) {
                        marker.setLatLng(e.latlng);
                        document.getElementById('hotelLatitude').value = marker.getLatLng().lat;
                        document.getElementById('hotelLongitude').value = marker.getLatLng().lng;
                    });
                    </script>
                </div>
            </div>



            <div class="form-group">
                <label for="hotelPhoneNumberInput">Numéro de téléphone</label>
                <input type="tel" class="form-control" name="phone_number" placeholder="Numéro de téléphone">
            </div>

            <div class="form-group">
                <label for="hotelWebsiteInput">Site internet</label>
                <input type="url" class="form-control" name="website" placeholder="Site internet">
            </div>

            <hr>

            <div class="form-group">
                <label for="hotelStars">Nombre d'étoile</label>
                <input type="text" id="hotelStars" name="stars" class="rating" data-size="xs">
            </div>

            <div class="form-group">
                <label for="hotelRoomPrice">Prix d'une chambre</label>
                <div class="input-group">
                    <input type="number" id="hotelRoomPrice" class="form-control" name="price" placeholder="Prix d'une chambre." aria-describedby="moneySymbol">
                    <span class="input-group-addon " id="moneySymbol">
                        <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label for="hotelRoomNumber">Nombre de chambre</label>
                <input type="number" id="hotelRoomNumber" class="form-control" name="room_number" placeholder="Nombre de chambre.">
            </div>

            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
</div>



