<!DOCTYPE html>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/img/logo.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="/categorie"></a></li>
                    <li class="dropdown">
                       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Establishements<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/establishments/restaurants">Restaurants</a></li>
                            <li><a href="/establishments/bars">Bars</a></li>
                            <li><a href="/establishments/hotels">Hotels</a></li>
                            <li><a href="/establishments/">All</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-form navbar-left" role="search" method="POST" action="/search">
                    <div class="form-group">
                        <input type="text" name="query" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">About</a></li>
                    {{#if user}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}}<span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="/user/{{user.name}}">Profil</a></li>
                                {{#if user.admin}}
                                    <li><a href="/create">Ajouter un établissement</a></li>
                                {{/if}}
                                <li><a href="/settings">Paramètres</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout">Se déconnecter</a></li>
                            </ul>
                        </li>
                    {{else}}
                        <li><a data-toggle="modal" data-target="#signin">Sign In</a></li>

                        <div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="signinmodal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="well">
                                        <form action="/login" method="post">
                                            <div>
                                                <input type="text" name="username" class="form-control" placeholder="Nom d'utilisateur">
                                            </div>
                                            <hr>
                                            <div>
                                                <input type="password" name="password" class="form-control" placeholder="Mot de passe">
                                            </div>
                                            <hr>
                                            <div>
                                                <a href="/signup" class="pull-left">S'inscrire</a>
                                                <input type="submit" class="btn btn-success pull-right" value="Log In"/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</div>
