<div class="page-header">
    <h3> Establishments </h3>
</div>


{{!-- On veut un input avec trois listes ("restaurants", "hotels", "bars"). --}}

<div class="container">
    <div class="col-md-12 restaurants-section">
        <h1>Restaurants.</h1>

        <div class="well">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    {{makeRestaurantsCarousel restaurants}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 hotels-section">
        <h1>Hotels.</h1>

        <div class="well">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    {{makeHotelsCarousel hotels}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 bars-section">
        <h1>Hotels.</h1>

        <div class="well">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    {{makeBarsCarousel bars}}
                </div>
            </div>
        </div>
    </div>
</div>
