<!DOCTYPE html>
<div class="page-header">
    <h3> Establishments </h3>
</div>

{{#if establishments}}

{{{thumbnailing establishments}}}

<hr>


{{/if}}


{{#if restaurants}}
<h1>Restaurants.</h1>

<hr>

{{{thumbnailing restaurants}}}

<hr>
{{/if}}

{{#if bars}}
<h1>Bars.</h1>

<hr>

{{{thumbnailing bars}}}

<hr>
{{/if}}

{{#if hotels}}
<h1>Hotels.</h1>

<hr>


<hr>
{{/if}}

</div>
