<!DOCTYPE html>

{{#if labels}}
<h2>Il y a {{labels}} établissments qui utilisent le label "{{name}}"</h2>
{{else}}
<h2>Il y a aucun établissement utilise ce label"</h2>
{{/if}}
<hr>
{{{thumbnailing establishments}}}
