<!DOCTYPE html>
<h1>Sign in</h1>

<hr>

<div class="well">
    <form action="/login" method="post">
        <div>
            <input type="text" name="username" class="form-control" placeholder="Nom d'utilisateur">
        </div>
        <div>
            <input type="password" name="password" class="form-control" placeholder="Nom d'utilisateur">
        </div>
        <div>
            <input type="submit" class="btn btn-success" value="Log In"/>
        </div>
    </form>
</div>
