<!DOCTYPE html>

<div class="row">

    <div class="header">
        <h3><a data-toggle="collapse" data-target="#collapseEmail">Email</a></h3>
        <hr>
    </div>
    <div class="collapse" id="collapseEmail">
        <div class="well">
            <form action="/user/update/{{user.name}}/email" method="post" enctype="multipart/form-data">
                <div class="form-inline">
                    <input type="email" class="form-control" id="email" name="email" placeholder="email.">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="header">
        <h3><a data-toggle="collapse" data-target="#collapsePassword">Mot de passe</a></h3>
        <hr>
    </div>
    <div class="collapse" id="collapsePassword">
        <div class="well">
            <form action="/user/update/{{user.name}}/password" method="post" enctype="multipart/form-data">
                <div class="form-inline">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe.">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <hr>
    <a href="/user/delete/{{user.name}}/">
        <button type="submit" class="btn btn-danger">Supprimer son profil.</button>
    </a>
</div>
